@using HealthMarketWebClient.Pages.Cart
@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <form class="form-inline my-2 my-lg-0">
                <CartSummary></CartSummary>
            </form>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
